#inject_div {
    position: absolute;
    width: 500px;
    height: 40px;
    margin: auto;
    text-align: center;
    /*border-style: dotted;*/
}

.select_filter {
    border: 1px solid #c9c9c9;
    /*background-color: #fff;*/
    color: #666;
    /*height: 28px;*/
    /*line-height: 28px;*/
    padding: 4px 6px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    width: 60px;
    margin: 4px;
    background: url("https://raw.githubusercontent.com/ourjs/static/gh-pages/2015/arrow.png") no-repeat scroll right center transparent;

}


.button_filter {
    background: #eb94d0;
    /* 创建渐变 */
    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
    background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
    /* 给按钮添加圆角 */
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    text-shadow: 3px 2px 1px #9daef5;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #666666;
    box-shadow: 6px 5px 24px #666666;
    /*font-family: Arial;*/
    color: #fafafa;
    font-size: 13px;
    padding: 14px;
    text-decoration: none;
    margin: 10px;
}

/* 悬停样式 */
.button_filter:hover {
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
    background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
    text-decoration: none;
}